
<header class="main-header">
  <script src="/js/config.js"></script>
    <div class="header-container">
        <div class="logo">
            <img src="assets/cadastro/Icon.png" alt="Logo Seus Momentos">
            <span>Seus Momentos</span>
        </div>
        
        <nav class="nav-menu">
            <a href="/home">Home</a>
            <a href="/planos">Planos</a>
            <a href="/exemplos">Exemplos</a>
            <a href="/quem-somos">Quem Somos</a>
        </nav>

        <div class="header-actions">
            <a href="/login" class="btn-login">Login</a>
            <a href="/cadastro" class="btn-signup-small">Criar site grátis</a>
        </div>
    </div>
</header>
