
<header class="main-header">
    <div class="header-container">
        <div class="logo">
            <img src="assets/cadastro/Icon.png" alt="Logo Seus Momentos">
            <span>Seus Momentos</span>
        </div>
        
        <nav class="nav-menu">
            <a href="#">Home</a>
            <a href="#">Preços</a>
            <a href="#">Exemplos</a>
            <a href="../pages/quem-somos/quem-somos.html">Quem Somos</a>
        </nav>

        <div class="header-actions">
            <a href="pages/login/index.html" class="btn-login">Login</a>
            <a href="pages/cadastro/index.html" class="btn-signup-small">Criar site grátis</a>
        </div>
    </div>
</header>
